body {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dfdfdf;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #9a9eee;
  background-color: #9a9eee;
  color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.headerComp {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-style: solid;
  border-width: medium;
  border-radius: 10px;
  margin: auto;
}

.titulo {
  font-size: 2.5em;
}

#formularioTarea {
  display: flex;
  justify-content: center;
  font-size: 1em;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

#txt1 {
  font-size: 1.25em;
}

#txt1 {
  border-radius: 5px;
}

#boton {
  margin-left: 10px;
}

.task {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 0, 0);
  margin: auto;
}

.inputBar {
  margin-bottom: 15px;
}

#editarTarea {
  margin-left: 15px;
  margin-right: 15px;
}

#eliminarTarea{
  margin-right: 15px;
}

#nombreTarea {
  font-size: 1.3em;
}

#tituloTarea {
  margin-top: 15px;
  margin-left: 15px;
  text-align: left;
}

#botonesTarea {
  margin-top: 15px;
}

#descripcionTarea {
  text-align: center;
  grid-column: 1/3;
  grid-row: 2;
}
